p.info{
  border-top: 1px dotted;
}
.space{
  text-align: left;
  width: 750px;
  padding-top: 3%;
  margin: auto;
}
body {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif; line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-weight: 700;
  font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
  letter-spacing: -1px;
}
